<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 col-centered text-center">
<h1>Andrew Wright - Concert Pianist</h1>
<!-- <p>PhD MM MM MBA</p> -->

<%= image_tag "Andrew_Wright_001_B&W_superlow", class: "pic" %>


<!-- <p>Leader, Educator, Researcher, Developer, Entrepreneur, Musician, EdTech enthusiast</p>

<p>
  <a href="https://www.linkedin.com/in/andrew-wright-3b82b0128/">LinkedIn Profile</a> &nbsp | &nbsp
  <a href="https://github.com/ajw400">Github Profile</a>
</p> -->


<h3>
<%= link_to "Publicity Photos", photos_pages_path %></h3>
<h3>Artistic Biography</h3>
<p>
  Beginning with his orchestral debut with the State Orchestra in Michoacán, Mexico, American pianist Andrew Wright has performed throughout Europe and many other places in the world. He has been featured in live performance on over a dozen radio and television broadcasts. His competition prizes include top prizes at the 2012 Vienna International Piano Competition, and the 2011 San Daniele International Piano Meeting.
</p>

<p>
  Since moving to the Netherlands in 2009, he  has  kept  an  active  concert  schedule  performing  in  venues such as the Concertgebouw in Amsterdam, Anton Philipszaal in The Hague and the Concertgebouw Vereniging Nijmegen. His performances have been recorded for broadcast by Radio 4, TV West, Radio West and the TV show Podium Klassiek. In 2011, he was soloist with the Royal Conservatoire Orchestra for the Hague Conservatoire’s Liszt Festival.
</p>

<p>
  As a performer of contemporary music, Andrew enjoys working with composers, and has given a number of premieres in solo, chamber music, and orchestral settings. He has performed as part of George Crumb’s 75th Birthday tour. Andrew has also performed at some of the most prestigious festivals in North America, such as Banff, Music Academy of the West, the International Musical Arts Institute, Kent/Blossom, and the TCU-Van Cliburn Piano Festival.
</p>

<p>
  Andrew's degrees include a PhD from Leiden University, a masters degree from the Royal Conservatoire of the Hague, where he studied with Naum Grubert, as well as a masters degree from Southern Methodist University, where he studied with Alfred Mouledous and Joaquín Achúcarro. He was Konrad Wolff- Ilse Bing Scholar at Wichita State University where he received a bachelors degree studying with Julie Bees. Other teachers included Peter Amstutz, Mario Quiroz Alcantara and Jerome Lowenthal.

<p>
  Besides his activity as a concert pianist and piano teacher, Andrew has several other musical interests, which he finds inspiring and challenging. Andrew studied organ with Ben van Oosten at Codarts  (Rotterdam), graduating with a bachelors degree in organ and a diploma in church music. As an organist, he has performed on the most important and largest organs of the Netherlands, such as those of the St. Bavo Basilica in Haarlem, the Laurenskerk in Rotterdam, the Nieuwe Kerk in Katwijk, and the Petruskerk in Leens. He is cantor-organist of the Koningkerk in Voorburg, where his multi-stylistic musical activities include children and seniors and everyone in between. Andrew studied orchestral conducting with Michael Palmer and Mark Laycock and choral conducting with Wiecher Mandemaker.
</p>
<h3>Research</h3>
<p>Current topic areas: Piano Pedagogy, Educational Technology in Applied Music, Embodied Cognition</p>
<p>Doctoral (PhD) dissertation, Leiden University, 2016</p>
<h5>The Polyphonic Touch: coarticulation and polyphonic expression in the performance of piano and organ music</h4>
<%= link_to "Short abstract", polyphonic_touch_short_abstract_pages_path %> &nbsp | &nbsp
<%= link_to "Long abstract", polyphonic_touch_long_abstract_pages_path %> &nbsp | &nbsp
<%= link_to "Fulltext", polyphonic_touch_fulltext_pages_path %>
</div>
</div>
</div>



