<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 col-centered text-center">
<h1>Andrew Wright</h1>
<p>PhD MM MM MBA</p>

<%= image_tag "Andrew_Wright_001_B&W_superlow", class: "pic" %>


<h2>About</h2>

<!-- <p>Leader, Educator, Researcher, Developer, Entrepreneur, Musician, EdTech enthusiast</p>

<p>
  <a href="https://www.linkedin.com/in/andrew-wright-3b82b0128/">LinkedIn Profile</a> &nbsp | &nbsp
  <a href="https://github.com/ajw400">Github Profile</a>
</p> -->


<h3>Research</h3>
<p>Current topic areas: Piano Pedagogy, Educational Technology in Applied Music, Embodied Cognition</p>
<p>Doctoral (PhD) dissertation, Leiden University, 2016</p>
<h5>The Polyphonic Touch: coarticulation and polyphonic expression in the performance of piano and organ music</h4>
<%= link_to "Short abstract", polyphonic_touch_short_abstract_pages_path %> &nbsp | &nbsp
<%= link_to "Long abstract", polyphonic_touch_long_abstract_pages_path %> &nbsp | &nbsp
<%= link_to "Fulltext", polyphonic_touch_fulltext_pages_path %>

<h3>Publicity photos</h3>
<%= link_to "pictures of Andrew", photos_pages_path %>
<h3>Artistic Biography</h3>
<p>
  Beginning with his orchestral debut with the State Orchestra in Michoacán, Mexico, German-American pianist Andrew Wright has performed as soloist with orchestras in the United States, Mexico and the Netherlands and has performed in over a dozen radio and television broadcasts. He has won prizes at many competitions, including at the 2012 Vienna International Piano Competition, and the 2011 San Daniele International Piano Meeting. Earlier prizes include first prize in the Duquesne Piano Competition, the Konrad Wolff – Ilse Bing Chamber Music Competition, the Francine Wallingford Competition, the Mu Phi Epsilon Phi Pi Competition and prizes from the Crescendo Music Awards, Prix Dominique and also a nomination for the prestigious Classical Fellowship of the American Pianists Association.
</p>

<p>
  Since moving to the Netherlands in 2009, he  has  kept  an  active  concert  schedule  performing  in  venues such as the Concertgebouw in Amsterdam, Anton Philipszaal in The Hague and the Concertgebouw Vereniging Nijmegen. His performances have been recorded for broadcast by Radio 4, TV West, Radio West and the TV show Podium Witteman. In 2011, he was soloist with the Royal Conservatoire Orchestra for the Hague Conservatoire’s Liszt Festival. His recent projects demonstrate his stylistic diversity: performances of the complete Chopin Etudes, an all-Russian  solo  piano  program,  Haydn’s  Sieben  letzte Wörte,  Antheil's Jazz Symphony with the Residentie Orkest, Gershwin’s Rhapsody in  Blue, major organ works (ranging from Sweelinck to Reger to Alain to improvisation) and many chamber music concerts.
</p>

<p>
  As a performer of contemporary music, Andrew has given several premieres, and has performed in George Crumb’s 75th Birthday tour. He was also the founder and director of a contemporary music group called the Zeitgeist Consort, which held experimental concerts and creative events. He has performed at some of the most prestigious festivals in North America, such as Banff, Music Academy of the West, the International Musical Arts Institute, Kent/Blossom, and the TCU-Van Cliburn Piano Festival.
</p>

<p>
  Andrew's degrees include a masters degree from the Royal Conservatoire of the Hague, where he studied with Naum Grubert, as well as a masters degree from Southern Methodist University, where he studied with Alfred Mouledous and Joaquín Achucarro. He was the first undergraduate Konrad Wolff- Ilse Bing Scholar at Wichita State University where he received a bachelors degree studying with Julie Bees. Other teachers included Peter Amstutz, Mario Quiroz Alcantara and Jerome Lowenthal.

<p>
  Besides his activity as a concert pianist and piano teacher, Andrew has several other musical interests, which he finds inspiring and challenging. Andrew studied organ with Ben van Oosten at Codarts  (Rotterdam), graduating with a bachelors degree in organ and a diploma in church music. As an organist,    he continues to perform on the most important and largest organs of the Netherlands, such as those of the St. Bavo Basilica in Haarlem, the Laurenskerk in Rotterdam, the Nieuwe Kerk in Katwijk, and the Petruskerk in Leens. He is cantor-organist of the Koningkerk in Voorburg, where his multi-stylistic musical activities include children and seniors and everyone in between. Andrew studied orchestral conducting with Michael Palmer and Mark Laycock and choral conducting with Wiecher Mandemaker.
</p>
</div>
</div>
</div>



